:root{
  @media (prefers-color-scheme: light) {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  @media (prefers-color-scheme: dark) {
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
  }
  color-scheme: light dark;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  @media only screen and (max-width: 480px) {
    padding: 1rem;
  }
}

